.catadopt {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align items to the top */
}

.catsidebar {
  /* No need for styling as the sidebar is removed */
  display: none;
}

.catproduct {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with minimum column width of 250px */
  gap: 15px;
  width: 75%; /* Adjust width if necessary */
  margin-top: 102px;
  justify-content: center; /* Center the content horizontally */
}

.singlecatcard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.singlecatcard > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.spinner {
  /* Adjust spinner styling if necessary */
}
