.dogadopt {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align items to the top */
}

.dogsidebar {
  /* No need for styling as the sidebar is removed */
  display: none;
}

.singledogcard h3 {
  color: #6504b5;
}

.singledogcard button {
  border: 1px solid #6504b5;
  color: #6504b5;
}

.dogsproduct {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with minimum column width of 250px */
  gap: 15px;
  width: 75%; /* Adjust width if necessary */
  margin-top: 102px;
  justify-content: center; /* Center the content horizontally */
}

.singledogcard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #6504b5;
  padding: 10px;
}

.singledogcard:hover {
  border: 3px solid #af67eb;
}

.singledogcard > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.spinner {
  /* Adjust spinner styling if necessary */
}
